<div class="card">

    <div 
    class="loading-background"
    [ngStyle]="{'display': ip? 'none':'block'}"></div>

    <div 
    class="main-section" 
    [ngStyle]="{'opacity': ip? '1':'0'}">

        <div class="ip-section">
            <p class="title">Your public IP address</p>
            <p class="ip">{{ip}}</p>
        </div>

        <div class="bottom-section" >
            <div class="city-section">
                <p class="title">City</p>

                <div class="secondery-title">
                    <img class="icon" src="../../assets/icons/mark.svg" alt="icon">
                    <p>{{city}}</p>
                </div> 
            </div>

            <div class="country-section">
                <p class="title">Country</p>
                <div class="secondery-title">
                    <img class="icon" src="../../assets/icons/mark.svg" alt="icon">
                    <p class="secondery-title">{{country}}</p>
                </div>
            </div>
        </div>
</div>