<div class="card">

    <div class="main-section">
            <div *ngIf="ip" class="ip-section">
                <p class="title">Your public IP address</p>
                <p class="ip">{{ip}}</p>
            </div>

            <div class="bottom-section">
                <div class="location-section">
                    <p class="title">Location</p>

                    <div class="secondery-title">
                        <img class="icon" src="../../assets/icons/mark.svg" alt="icon">
                        <p>{{location}}</p>
                    </div>
                    
                </div>
                <div class="time-zone-section">
                    <p class="title">Time zone</p>
                    <div class="secondery-title">
                        <img class="icon" src="../../assets/icons/clock.svg" alt="icon">
                        <p class="secondery-title">{{timeZone}}</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="divaider"></div>

    <div class="second-section">
        <div 
        *ngFor="let element of this.secondaryValues" 
        class="section">
            <p class="title">{{element.name}}</p>
            <p class="secondery-title">{{element.value}}</p>
        </div>
    </div>
</div>