#map {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    right: 0;
    transition: 0.3s;
}

@media (max-width: 600px){
    #map {
        bottom: 0;
        top: 40%;
        left: 0;
        right: 0;
    }

}